.leaders {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 100px auto 80px;
  }

  // Навигация Табов
  &__nav {
    margin: 0 auto 30px;
    max-width: 1000px;
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);
      font-weight: 500;

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(139, 139, 139, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }


  // maps
  &__container-maps {
    max-width: 1000px;
    margin: 0 auto 100px;
    position: relative;
  }

  &__container-tems svg {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    position: relative;

    path {
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        fill: rgb(28, 157, 0);
        box-shadow: 0 0 5px #212121;
      }
    }
  }

  &__baloon-1,
  &__baloon-2,
  &__baloon-3,
  &__baloon-4,
  &__baloon-5,
  &__baloon-6,
  &__baloon-7,
  &__baloon-8,
  &__baloon-9,
  &__baloon-10,
  &__baloon-11 {
    position: absolute;
    height: 30px;
    width: 30px;

    img {
      cursor: pointer;
    }

    @include phoneScreen {
      width: 20px;
      height: 20px;
    }
  }

  &__baloon-1 {
    left: 26%;
    top: 65%;
  }

  &__baloon-2 {
    left: 85%;
    top: 70%;

    @media (max-width: 530px) {
      left: 83%;
      top: 69%;
    }
  }

  &__baloon-3 {
    left: 36%;
    top: 64.5%;

    @media (max-width: 530px) {
      left: 37%;
      top: 59.5%;
    }
  }

  &__baloon-4 {
    left: 21%;
    top: 47%;
  }

  &__baloon-5 {
    left: 30%;
    top: 51%;
  }

  &__baloon-6 {
    left: 15%;
    top: 58%;
  }

  &__baloon-7 {
    left: 11%;
    top: 73%;

    @media (max-width: 530px) {
      left: 10%;
      top: 70%;
    }
  }

  &__baloon-8 {
    left: 43%;
    top: 75%;
  }

  &__baloon-9 {
    left: 68%;
    top: 50%;
  }

  &__baloon-10 {
    left: 52%;
    top: 76%;
  }

  &__baloon-11 {
    left: 33%;
    top: 73%;

    @media (max-width: 530px) {
      left: 34%;
      top: 70%;
    }
  }


  // Popups
  &__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4a4a4a !important;
    top: 0;
    left: 0;
    z-index: 98;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.3s;

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__popup.open &__popup__bg-popup {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__popup__bg-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    width: 700px;
    height: 470px;
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    background: #fff;
    overflow: hidden;

    @include phoneScreen {
      width: 90%;
    }
  }

  &__close-popup {
    position: absolute;
    right: 15px;
    top: 5px;
    color: gray;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
  }

  &__popup-title {
    font-size: 22px;
    font-weight: 400;
    padding: 12px 10px;
  }

  &__galerry {
    padding: 0 0 10px 0;
    height: 365px;

    img {
      object-fit: cover;
    }
  }

  &__popup-text {
    font-size: 15px;
    font-weight: 300;
    color: #212121;
    padding: 0 10px 10px;
  }


  &__leaders-container {
    display: block;
  }

  &__leaders-title {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
  }


  &__leaders__info-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: color(white);
    text-align: center;
  }

  &__items {
    max-width: 1215px;
    margin: 0 auto;
  }

  &__items-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
  }

  &__item {
    background: rgb(58, 127, 15);
    padding: 0 0 15px 0;
    border-radius: 20px;
    overflow: hidden;
  }

  &__item-video {
    position: relative;
    margin: 0 0 15px 0;
    padding:  0 0 80% 0;
    // aspect-ratio: 16 / 9;

    @media (max-width: 1600px) {
      padding: 0 0 60% 0;
    }
  }

  &__item-video video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item-info {
    padding: 0px 15px 0 15px;
  }

  &__item-name {
    color: color(white);
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__item-text {
    color: color(white);
    font-weight: 300;
    font-size: 16px;
  }



  // Стили соцсетей
  &__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 95 !important;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;

    path {
      fill: green;
    }

    &:hover {
      path {
        fill: #1BC47D;
      }
    }
  }

  .ok__ru {
    svg {
      width: 26px !important;
      height: 26px !important;
      position: absolute;
      left: 3px;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    margin: 9px 0 0 5px;
    border-radius: 50%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    color: green;
    transition: .3s all;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
    
    path {
      fill: green;
      width: 30px;

      &:hover {
        fill: #1BC47D;
      }
    }
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
}