@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../../assets/fonts/#{$file_name}.woff') format('woff'), url('../../assets/fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font('Montserrat', 'Montserrat-Black', '900', 'normal');
@include font('Montserrat', 'Montserrat-ExtraBold', '800', 'normal');
@include font('Montserrat', 'Montserrat-Bold', '700', 'normal');
@include font('Montserrat', 'Montserrat-SemiBold', '600', 'normal');
@include font('Montserrat', 'Montserrat-Medium', '500', 'normal');
@include font('Montserrat', 'Montserrat-Regular', '400', 'normal');
@include font('Montserrat', 'Montserrat-Light', '300', 'normal');
