
.header {
  box-shadow: 0px 3px 5px rgba(30, 158, 0, 0.9);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    @include ipadScreen {
      padding: 14px 0;
    }
  }

  &__logo {
    width: 110px;

    @include ipadScreen {
      width: 95px;
      z-index: 100;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include ipadScreen {
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.99);
      backdrop-filter: blur(5px);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 80px 0 900px 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 99;
    }

    &.active {
      transform: translateX(0%);
    }
  }

  &__menu-list {
    margin: 0 20px;
    font-size: 16px;
    letter-spacing: 0.025em;
    transition: 0.3s;
    position: relative;

    &:last-child {
      margin-right: 0;

      @include ipadScreen {
        border-bottom: 1px solid #a2a2a256;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    @include ipadScreen {
      margin: 0;
      border-top: 1px solid #a2a2a256;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      transition: all 0.3s;
    }
  }

  @include ipadScreen {
    &__menu-list:hover {
      background-color: green;
    }

    &__menu-list:hover &__menu-link {
      color: color(white);
    }
  }

  &__menu-link {
    color: green;
    font-size: 16px;
    letter-spacing: 0.025em;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -8px;
      width: 0;
      height: 2px; 
      background-color: color(green); 
      transition: width 0.3s; 

      @include ipadScreen {
        display: none;
      }
    }           

    &:hover:after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px; 
      background-color:  color(lightgreen); 
      transition: width 0.3s;  

      @include ipadScreen {
        display: none;
      }
    }           

    &:hover {
      color: color(lightgreen);
    }

    @include ipadScreen {
      padding: 20px 330px;
    }

    @include phoneScreen {
      padding: 20px 250px;
    }

    @media (max-width: 600px) {
      padding: 20px 200px;
    }

    @media (max-width: 500px) {
      padding: 20px 150px;
    }

    @media (max-width: 400px) {
      padding: 20px 120px;
    }
  }

  .mobile__search-box {
    display: none;

    @include ipadScreen {
      display: block;
      margin: 5% 0 0 0;
    }
  }

  &__icon__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    color: green;
    margin: 0 10px;
    font-size: 22px;
  }

  &__mobile-menu {
    display: none;

    @include ipadScreen {
      display: block;
      z-index: 99;
    }

    &:after {
      content: "";
      width: 35px;
      height: 35px;
      background-color: #FFF;
      box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
      border-radius: 50%;
      position: absolute;
      top: 13px;
      right: 22.5px;
      z-index: -1;

      @include phoneScreen {
        width: 36px;
        height: 36px;
        top: 12.5px;
        right: 12px; 
      } 
    }
  }

  &__line-1,
  &__line-2,
  &__line-3 {
    width: 20px;
    height: 1.5px;
    margin: 4px;
    background-color: #212121;
    transition: all 0.3s ease;
  }

  .header__mobile-menu.toggle .header__line-1 {
    transform: rotate(-45deg) translate(-5px, 3px)
  }

  .header__mobile-menu.toggle .header__line-3 {
    transform: rotate(45deg) translate(-5px,-3px);
  }

  .header__mobile-menu.toggle .header__line-2 {
    opacity: 0;
    visibility: hidden;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}


// Popup
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.open .popup__content {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0%) rotateX(0);
  }

  .close-popup {
    font-size: 40px;
    color: #828282;
    cursor: pointer;
    order: 1;
  }

  .search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid color(green) !important;
    position: relative;
  }

  .input__search {
    border-radius: 0;
    height: 40px;
    padding: 5px;
    width: 100%;
    border: none;

    &:focus {
      color: #000000;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: color(dark);
    }
  }

  .search__btn {
    color: color(green);
    margin: 0 10px 0 0;
  }

  form {
    .email-tel-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      input {
        width: 204px;
      }

      @include phoneScreen {
        display: block;

        input {
          width: 100%;
        }
      }
    }

    .inputfile-box{
      border: none;
      padding: 0;
      margin: 0;
      position: relative;
    
      input {
        margin: 0 !important;
        padding: 0;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        visibility: hidden;
      }
    }

    .popup__registrition-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }

    .popup__registration {
      font-size: 16px;
      font-weight: 600;
      color: color(dark);
    }
  }


  .popup__search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 50px auto 0;
    padding: 0 30px;
  }

  .popup__search-logo {
    width: 130px;
    order: 0;

    @include phoneScreen {
      width: 80px;
    }
  }

  .popup__search-body {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    max-width: 1500px;
    margin: 50px auto 0;
    padding: 0 30px;
  }

  .popup__search-content {
    width: 100%;
    height: 100%;
    padding: 0px 40px 70px 40px;
    border-radius: 10px;
    opacity: 0;
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transition: all 0.4s;
    background: #fff;
    box-shadow: 0 0 10px #ffffff69;
    position: relative;

    @include phoneScreen {
      padding: 0 10px;
    }
  }

}


