.resources {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 130px auto 80px;
  }

  &__nav {
    margin: 0 auto 50px;
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 900px) {
      width: 50%;
      margin: 0 auto 10px;
    }

    
    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);
      
      @media (max-width: 900px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 900px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 900px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__button {
    width: 400px;
    margin: 0 auto 80px;
    transition: all 0.3s;
    border-radius: 5px;
    height: 55px;

    @media (max-width: 500px) {
      width: 350px; 
    }
  }

  .hide {
    display: none;
  }

  &__BIM-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    padding: 5px 0;

    @media (max-width: 800px) {
      max-width: 90%;
      margin: 0 auto;
    }

    @media (max-width: 450px) {
      max-width: 100%;
    }
  }

  &__BIM-item {
    border-bottom: 5px solid transparent;
    transition: all 0.3s;
    overflow: hidden;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px #21212136;

    @media (min-width: 768px) {
      &:hover {
        border-color: #F89A00;
        border-radius: 10px;
        box-shadow: 0 0 10px #21212182;
      }
    }

    @include ipadScreen {
      border-color: #F89A00;
      border-radius: 10px;
      box-shadow: 0 0 10px #2121213c;
    }
  }

  @media (min-width: 768px) {
    &__BIM-item:hover &__BIM__item-box {
      border-radius: 0;
      box-shadow: 0 0 3px transparent;
    }

    &__BIM-item:hover &__BIM-text {
      color: #F89A00;
    }
  }

  &__BIM__item-box {
    overflow: hidden;
    box-shadow: 0 0 5px #21212157;
    transition: all 0.3s;
  }

  &__BIM__img-box {
    height: 230px;
    width: max-content;
    margin: 0 auto;
  }

  &__BIM__info-box {
    background-color: #F89A00;
    padding: 10px;
  }

  &__BIM-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 145%;
    color: color(white);
    text-align: center;
  }

  &__BIM-text {
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s;
  }

  // Каталоги
  .resources__catalogs-search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include ipadScreen {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__catalogs-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    color: color(dark);

    @include ipadScreen {
      flex-direction: column;
      margin-bottom: 20px;
    }

    @media (max-width: 500px) {
      font-size: 25px;
    }
  }

  &__catalogs__input-box {
    width: 30%;
    position: relative;

    @include ipadScreen {
      width: 100%;
    }

    svg {
      position: absolute;
      right: 12px;
      top: 9px;
      width: 20px;
      height: 20px;
    }

    path {
      fill: grey;
    }
  }

  &__catalogs-input {
    padding-right: 40px;

    &::placeholder {
      color: grey;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__catalogs-items {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__catalogs__second-box, &__catalogs__first-box {
    width: 49%;

    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  &__catalogs-item {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0 18px 0 0;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s;
    margin-bottom: 25px;

    &:hover {
      box-shadow: 0 0 8px green;
    }

    @media (max-width: 520px) {
      flex-direction: column;
      justify-content: start;
      padding: 0 0 10px 0;
    }
  }

  &__catalogs__item-images {
    width: 150px;
    height: auto;
    overflow: hidden;

    @media (max-width: 520px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__catalogs__item-info {
    margin-left: 25px;
    padding: 10px 0;

    @media (max-width: 520px) {
      margin: 0;
    }
  }

  &__catalogs__item-title {
    font-size: 20px;
    color: color(dark);
    margin-bottom: 25px;

    @media (max-width: 1100px) {
      font-size: 18px;
    }

    @media (max-width: 520px) {
      padding: 0 5px;
      text-align: center;
    }
  }

  &__catalogs__item-buttons {
    display: flex;
    align-items: center;

    @media (max-width: 520px) {
      justify-content: center;
    }
  }

  &__catalogs__item__save-button {
    width: 0px;
    padding: 10px 50px;
    background-color: transparent;
    border: 2px solid color(green);
    height: 35px;
    font-size: 15px;
    transition: all 0.3s;
    color: color(green);

    &:hover {
      background-color: color(green);
      color: color(white);
    }
  }

  &__catalogs__item-pdf {
    margin: 0 10px;
    color: gray;
  }

  &__catalogs__item__pdf-button {
    width: auto;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid color(green);
    height: 35px;
    font-size: 15px;
    transition: all 0.3s;
    color: color(green);

    &:hover {
      background-color: color(green);
      color: color(white);
    }
  }


  // Вопросы
  &__faq__search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 80px;
    background: #F5F5F5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    padding: 50px 30px;
    border-radius: 10px;

    @include ipadScreen {
      flex-direction: column;
    }
  }

  &__faq-text {
    font-size: 20px;
    color: color(dark);
  }

  &__faq-input {
    width: 50%;

    @include ipadScreen {
      margin: 30px 0;
      width: 100%;
    }

    @include SEScreen {
      margin: 20px 0;
    }
  }

  &__faq-button {

    &:hover {
      background-color: rgb(9, 103, 9);
    }
  }

  &__faq__accordions-container {
    background: #f5f5f5;
  }

  &__faq__accordion-item {
    position: relative;
    border-bottom: 1px solid #C8C8C8;
    width: 100%;
    max-height: 60px;
    overflow: hidden;
    transition: all 0.5s;

    &.active {
      max-height: 100vh;
      background-color: rgba(255, 255, 255, 0.72);

      @media (max-width: 800px) {
        max-height: 130vh;
      }
    }

    svg {
      transition: all 0.3s;
    }

    path {
      fill: rgb(0, 0, 0);
    }
  }

  &__faq__accordion-item.active svg {
    transform: rotate(-90deg);

    path {
      fill: green;
    }
  }

  &__faq__accordion-title {
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: color(dark);
    padding: 20px 20px 20px 15px;
    display: flex;
    justify-content: space-between;

    span {
      text-align: right;
    }
  }

  &__faq__accordion-item.active &__faq__accordion-title {
    color: green
  }

  &__faq__accordion-content {
    padding: 0px 15px 25px 15px;
    font-size: 16px;
    line-height: 150%;
    color: color(dark);
    position: relative;
    overflow: hidden;
    margin: -3px 0 0 0;
    transition: all 0.1s;
  }

  // Сертификаты
  .certificates-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: color(dark);
    margin-bottom: 30px;
  }

  &__certificates-tab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  &__sertificat__item {
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: all 0.3s;
      transform: scale(1);
    }
  }

  &__sertificat__image-box {
    margin: 0 auto 20px;
    transition: all 0.3s;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    width: 250px;

    @media (max-width: 700px) {
      height: 400px;
      width: max-content;
    }

    img {
      max-width: 100%;
      height: 100%;
      transition: all 0.3s;
      transform: scale(1);
    }
  }

  &__sertificat__item:hover &__sertificat__image-box {
    box-shadow: 0 0 5px color(green);
  }

  //Документация
  &__documentation__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 0 0 8px 0;
    margin-bottom: 80px;
  } 

  &__documentation-item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
 
    img {
      transition: all 0.3s;
    }

    .title__images {
      position: absolute;
      left: 10%;
      top: 40%;
      font-weight: 500;
      font-size: 45px;
      text-transform: uppercase;
      color: color(white);
      text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.68);
    }
  }

  //Обучение
  &__education__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 0 0 8px 0;
    margin-bottom: 80px;
  }

  &__education-item {
    overflow: hidden;
    border-radius: 10px;
    position: relative; 

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: all 0.3s;
    }

    .title__images {
      position: absolute;
      left: 10%;
      top: 40%;
      font-weight: 500;
      font-size: 45px;
      text-transform: uppercase;
      color: color(white);
      text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.68);
    }
  }
}