.managers {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 100px auto 80px;
  }

  // Навигация Табов
  &__nav {
    margin: 0 auto 50px;
    max-width: 1000px;
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(139, 139, 139, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }


  // maps
  &__maps  {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 500px) {
      margin-bottom: 60px;
    }
  }

  &__maps-cont {
    margin: 0 auto 100px;

  }
  
  &__maps-cont svg {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    position: relative;

    path {
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        fill: rgb(28, 157, 0);
        box-shadow: 0 0 5px #212121;
      }
    }
  }

  .popups__container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
  }

  &__baloon-1 {
    top: 55%;
    left: 15.5%;

    @media (max-width: 500px) {
      top: 52%;
      left: 12.2%;
    }
  }

  &__baloon-2 {
    top: 58%;
    left: 10.5%;
  }

  &__baloon-3 {
    top: 64%;
    left: 10.5%;
  }

  &__baloon-4 {
    top: 68%;
    left: 13%;
  }

  &__baloon-5 {
    top: 76%;
    left: 9%;

    @media (max-width: 500px) {
      top: 80%;
      left: 7.3%;
    }
  }

  &__baloon-6 {
    top: 80%;
    left: 7%;
    
    @media (max-width: 500px) {
      top: 76%;
      left: 5%;
    }
  }

  &__baloon-7 {
    top: 74%;
    left: 12%;
    height: 20px;
  }

  &__baloon-8 {
    top: 73%;
    left: 16%;
    height: 20px;
  }

  &__baloon-9 {
    top: 67.4%;
    left: 15.5%;
    height: 20px;
  }

  &__baloon-10 {
    top: 67.4%;
    left: 18%;

    @media (max-width: 500px) {
      top: 61.4%;
      left: 16.5%;
    }
  }

  &__baloon-11 {
    top: 44.8%;
    left: 14%;
    
    @media (max-width: 500px) {
      top: 40%;
      left: 14%;
    }
  }

  &__baloon-12 {
    top: 72%;
    left: 19.5%;
    height: 20px;
  }

  &__baloon-13 {
    top: 68%;
    left: 21.5%;
    
    @media (max-width: 500px) {
      top: 68%;
      left: 22.5%;
    }
  }

  &__baloon-14 {
    top: 64%;
    left: 19.6%;
    height: 15px;
  }

  &__baloon-15 {
    top: 58.5%;
    left: 20%;

    @media (max-width: 500px) {
      top: 53.5%;
      left: 19%;
    }
  }

  &__baloon-16 {
    top: 60.5%;
    left: 22.5%;
    height: 20px;
  }

  &__baloon-17 {
    top: 61%;
    left: 13%;

    @media (max-width: 500px) {
      top: 60%;
      left: 14%;
    }
  }

  &__baloon-18 {
    top: 60.5%;
    left: 16%;

    @media (max-width: 500px) {
      top: 54.5%;
      left: 15.3%
    }
  }

  &__baloon-19 {
    left: 18%;
    top: 56%;

    @media (max-width: 500px) {
      left: 14.6%;
      top: 47%;
    }
  }

  &__baloon-20 {
    left: 18%;
    top: 51.5%;

    @media (max-width: 500px) {
      left: 18%;
      top: 47.5%;
    }
  }

  &__baloon-21 {
    left: 13%;
    top: 50%;

    @media (max-width: 500px) {
      top: 45%;
      left: 10%;
    }
  }

  &__baloon-22 {
    left: 28%;
    top: 61%;
    height: 20px;
  }

  &__baloon-23 {
    left: 24%;
    top: 76%;

    @media (max-width: 500px) {
      left: 22%;
      top: 76%;
    }
  }

  &__baloon-24 {
    left: 30%;
    top: 69%;
  }

  &__baloon-25 {
    left: 34%;
    top: 74%;
  }

  &__baloon-26 {
    left: 27%;
    top: 75%;
  }

  &__baloon-27 {
    left: 37%;
    top: 78%;
  }

  &__baloon-28 {
    left: 44%;
    top: 83%;
  }

  &__baloon-29 {
    left: 44%;
    top: 75%;
  }

  &__baloon-30 {
    left: 52%;
    top: 78%;
  }

  &__baloon-31 {
    left: 88%;
    top: 76%;

    @media (max-width: 500px) {
      left: 85.5%;
      top: 70%;
    }
  }

  &__baloon-32 {
    left: 89%;
    top: 87%;

    @media (max-width: 500px) {
      left: 87.5%;
      top: 80%;
    }
  }

  &__baloon-33 {
    left: 8.5%;
    top: 49%;
    height: 18px !important;
  }

  &__baloon-1,
  &__baloon-2,
  &__baloon-3,
  &__baloon-4,
  &__baloon-5,
  &__baloon-6,
  &__baloon-7,
  &__baloon-8,
  &__baloon-9,
  &__baloon-10,
  &__baloon-11,
  &__baloon-12,
  &__baloon-13,
  &__baloon-14,
  &__baloon-15,
  &__baloon-16,
  &__baloon-17,
  &__baloon-18,
  &__baloon-19,
  &__baloon-20,
  &__baloon-21,
  &__baloon-22,
  &__baloon-23,
  &__baloon-24,
  &__baloon-25,
  &__baloon-26,
  &__baloon-27,
  &__baloon-28,
  &__baloon-29,
  &__baloon-30,
  &__baloon-31,
  &__baloon-32,
  &__baloon-33 {
    position: absolute;
    height: 20px;
    width: 20px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.5);
    }

    img {
      cursor: pointer;
    }

    @include phoneScreen {
      height: 12px;
      width: 12px;
    }
  }

  .managers__popup-contents {
    padding: 40px 40px 60px 40px;

    @include phoneScreen {
     padding: 20px 20px 30px 20px;
    }
  }


  &__popup-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include phoneScreen {
      margin-bottom: 20px;
    }

    img {
      width: 130px;

      @include phoneScreen {
        width: 100px;
      }
    }
  }

  &__popup-title {
    font-weight: 500;
    font-size: 25px;
    color: #404040;
    margin-bottom: 15px;

    @include phoneScreen {
      font-size: 22px;
      margin-bottom: 12px;
    }
  }

  .managers__popup-boss {
    margin-bottom: 22px;

    span {
      font-weight: 400;
      font-size: 16px;
      color: #5c5c5c;
    }

    h5 {
      font-weight: 500;
      font-size: 18px;
      color: #5c5c5c;
      margin-top: 6px;
      
      @include phoneScreen {
        font-size: 16px;
        margin-top: 3px;
      }
    }
  }

  &__phone-content {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: #414141;
    margin-bottom: 12px;
    transition: all 0.3s;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 12px;

      @include phoneScreen {
        width: 20px;
        height: 20px;
      }

      path {
        fill: #33953A;;
      }
    }
  }

  &__popup-phone {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #414141;

    @include phoneScreen {
      font-size: 15px;
    }

    &:hover {
      color: green;

      path {
        fill: green;
      }
    }
  }

  &__popup-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 145%;
    margin-bottom: 6px;
    margin-bottom: 15px;
  }

  // Popup
  .maps__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4a4a4a;
    top: 0;
    left: 0;
    z-index: 98;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.3s;
    padding: 0 40px;

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  .maps__popup.open &__popup__bg-popup {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__popup__bg-popup {
    position: absolute;
    top: 55%;
    left: 50%;
    right: 0;
    width: 550px;
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    background: #fff;
    overflow: hidden;

    @include phoneScreen {
      width: 95%;
    }
  }

  .managers__close-popup {
    position: absolute;
    right: 15px;
    top: 8px;
    color: gray;
    font-weight: 400;
    font-size: 35px;
    cursor: pointer;
  }



  &__managers__container {
    display: block;
    max-width: 1215px;
    margin: 0 auto;
  }

  &__about__img-box {
    height: auto;
  }

  &__managers__title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 45px;

    @media (max-width: 500px) {
      font-size: 35px;
      margin-bottom: 30px;
    }

    @media (max-width: 400px) {
      font-size: 30px;
    }
  }

  &__managers__search-content {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-color: #f3f3f3;
    margin: 0 auto 100px;
    padding: 50px 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #000000b3;

    @include ipadScreen {
      flex-direction: column;
      align-items: center;
      max-width: 60%;
    }

    @include phoneScreen {
      max-width: 80%;
    }

    @media (max-width: 500px) {
      max-width: 100%;
      padding: 20px 10px;
    }
  }

  &__managers__search-item {

    @include ipadScreen {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  &__managers__search-subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 145%;
    color: color(dark);
    padding: 0 0 8px 0;
  }

  &__managers__search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #2121219c;
    width: 100%;
    transition: all 0.2s;

    &::placeholder { 
      color: #3131318e;
      font-size: 14px;
    }

    &:focus {
      border-color: color(green);
      box-shadow: 0px 0px 2px #078707b3;
    }
  }

  &__managers__search-button {
    margin: 0 auto;
  }


  &__managers__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 0 0 8px 0;
    margin-bottom: 80px;
  }

  &__managers-item {
    padding: 0 0 15px 0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    border-bottom: 5px solid transparent;

    &:hover {
      box-shadow: 0px -1px 5px #000000;
      border-color: color(green);
    }
  }

  &__managers__img-box {
    margin: 0 auto;
  }

  &__managers__info-box {
    background: #3b9900;
    padding: 15px 10px;
  }

  &__managers__info-title {
    color: color(white);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  &__managers__info-text {
    padding: 8px;
    font-size: 16px;
  }

  // Maps
  &__managers__map-container {
    overflow: hidden;
  }

  .managers__managers__map-map {
    width: 100%;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.093);

    @include phoneScreen {
      height: 400px;
    }

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

   // Стили соцсетей
   .banner__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 100;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  .banner__icon {
    font-size: 28px;
    font-weight: 700;
    color: color(green);
    transition: 0.3s;
    margin: 5px 0;
    z-index: 50;

    &:hover {
      color: #1BC47D;
    }
  }

  // Анимация иконки телефона
  &__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 95 !important;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;

    path {
      fill: green;
    }

    &:hover {
      path {
        fill: #1BC47D;
      }
    }
  }

  .ok__ru {
    svg {
      width: 26px !important;
      height: 26px !important;
      position: absolute;
      left: 3px;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    margin: 9px 0 0 5px;
    border-radius: 50%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    color: green;
    transition: .3s all;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
    
    path {
      fill: green;
      width: 30px;

      &:hover {
        fill: #1BC47D;
      }
    }
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
}
