
.news {
  margin-bottom: 130px;

  @include ipadScreen {
    margin-bottom: 80px;
  }

  @include phoneScreen {
    margin-bottom: 70px;
  }

  &__container {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;

    @media (max-width: 1170px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__lefl-block {
    width: 420px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
    transition: all 0.3s;

    @media (max-width: 1500px) {
      width: 380px;
    }

    @media (max-width: 1170px) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 340px;
      margin-right: 0;
      border-radius: 20px 20px 0 0;
      margin-bottom: 10px;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      max-width: 100%;
      height: auto;
    }
  }

  &__lefl-block:hover .news__button-box {
    margin-left: 12px;
  }

  &__img-box {
    overflow: hidden;
    border-radius: 20px 0 0 0;

    @media (max-width: 1170px) {
      width: 50%;
      order: 1;
      border-radius: 0 20px 0 0;
      width: 53%;
    }

    @media (max-width: 630px) {
      width: 100%;
      height: max-content;
      order: 0;
    }
  }

  &__bg-box {
    background-color: color(green);
    padding: 20px;
    height: 251px;

    @media (max-width: 1170px) {
     width: 50%;
     height: 340px;
     padding-top: 70px;
    }

    @media (max-width: 650px) {
      width: 100%;
      height: auto;
      padding-top: 20px;
    }
  }

  &__name {
    font-size: 25px;
    color: color(white);

    @media (max-width: 1000px) {
      font-size: 22px;
     }
  }

  &__text {
    color: color(white);
    padding: 12px 0;
    line-height: 128%;

    @include ipadScreen {
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__button-box {
    display: flex;
    align-items: end;
    margin-top: 10px;
    transition: all 0.3s;

    path {
      fill: #212121;
    }
  }

  .green {
    fill: #ffffff;
  }


  &__item-button {
    color: color(white);
    font-weight: 400;
    padding-right: 12px;
  }

  &__right-block {
    max-width: 890px;

    @media (max-width: 1500px) {
      max-width: 650px;
    }

    @media (max-width: 1170px) {
      max-width: 100%;
     }
  }

  &__img-top-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 298px;
    background-color: #f5f5f5;
    box-shadow: 1px 0 1px #dadada;
    overflow: hidden;
    border-radius: 0 20px 0 0;
    transition: all 0.3s;

    @media (max-width: 1500px) {
      height: 280px;
    }

    @media (max-width: 1206px) {
      height: 280px;
    }

    @media (max-width: 1170px) {
      border-radius: 0 0 0 0;
      box-shadow: none;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      max-width: 100%;
      height: auto;
    }
  }

  &__img-top-box:hover .news__button-box {
    margin-left: 12px;
  }

  .green__button {
    color: color(dark);
    border-color: color(dark);
  }

  &__img-top {
    margin-right: 10px;

    @media (max-width: 630px) {
      height: auto;
      width: 100%;
      margin-right: 0;
    }
  }

  .news__top-box.top_background {
    width: 50%;

    @media (max-width: 650px) {
      width: 100%;
      padding: 20px 10px 18px 10px;
    }
  }

  &__top-box {
    padding: 20px;
  }

  .green__color {
    color: color(dark);
  }

  .btn__color {
    color: color(dark);
  }

  &__bottom-box {
    display: flex;
    align-items: end;
    height: 416px;
    overflow: hidden;

    @media (max-width: 1500px) {
      height: 400px;
    }

    @media (max-width: 1170px) {
      padding: 0 0 2px 0;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      max-width: 100%;
      height: auto;
    }
  }

  &__left-box {
    margin-right: 10px;
    background-color: #f5f5f5;
    box-shadow: 1px 0 3px #929292;
    width: 50%;
    transition: all 0.3s;

    @media (max-width: 1170px) {
      overflow: hidden;
      border-radius: 0 0 0 20px;
    }

    @media (max-width: 650px) {
     height: auto;
     box-shadow: none;
     margin: 0 0 10px 0;
     border-radius: 0;
     height: auto;
     width: 100%;
    }
  }

  &__left-box:hover  .news__button-box {
    margin-left: 12px;
  }

  .padding__top-box {
    padding: 5px 0 0 0;
  }

  &__right-box {
    width: 50%;
    overflow: hidden;
    border-radius: 0 0 20px 0;
    transition: all 0.3s;

    @media (max-width: 650px) {
      height: auto;
      box-shadow: none;
      width: 100%;
      margin: 0 0 10px 0;
      border-radius: 0 0 20px 20px;
     }
  }

  &__right-box:hover .news__button-box {
    margin-left: 12px;
  }

  .bottom_background {
    background-color: color(green);
    padding: 20px;
    max-width: 100%;

    @media (max-width: 630px) {
      max-width: 100%;
    }
  }
}
