.support {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 100px auto 80px;
  }

  &__nav {
    margin: 0 auto 100px;
    max-width: 400px;

    @media (max-width: 650px) {
      margin-bottom: 60px;
    }
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);
      font-weight: 500;

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 12px;
  }

  &__contacts-subtitle {
    margin-bottom: 60px;
    color: #515151;
    text-align: center;

    @media (max-width: 500px) {
      margin: 0 0 40px 0;
    }
  }

  //Контенер для инфы
  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  
  &__info__container-items {
    width: 100%;

    &:first-child {
      margin-bottom: 80px;
    }
  }
  
  &__form {
    width: 80%;
    margin: 0 auto;

    @include phoneScreen {
      width: 100%;
    }
  }
  
  
  &__inputs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;

    @media (max-width: 500px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  
  &__form-name {
    width: 100%;
    padding: 8px;
    margin-top: 24px;
    border: none;
    border-bottom: 1px solid #BCBDC0;
    color: color(black);
    font-size: 14px;

    @media (max-width: 500px) {
      margin: 35px 0 0 0;
    }
    
    &:first-child {
      margin-right: 20px;

      @media (max-width: 500px) {
        margin-right: 0;
      }
    }

    &::placeholder{
      color: #6C6D70;
    }

    &:focus{
      border-width: 2px;
      border-color: color(green);
    }

    &.error{
      border-color: red;
    }
  }

  &__form-select {
    width: 48%;
    padding: 10px;
    border-radius: 5px;

    @media (max-width: 500px) {
      width: 100%;

      &:first-child {
        margin-bottom: 30px;
      }
    }
  }

  .first__select {
    width: 100%;

    @media (max-width: 500px) {
      margin-bottom: 0;
    }
  }
  
  .some-select {
    margin: 50px 0 10px 0;

    @media (max-width: 500px) {
      margin: 40px 0 10px 0;
    }
  }

  .some-input {
    margin: 28px 0 25px 0;
  }
  
  textarea{
    width: 100%;
    height: 120px;
    padding: 8px;
    color: color(black);
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #BCBDC0;
    border-radius: 5px;

    &::placeholder{
      color: #6C6D70;
    }

    &:focus{
      border-width: 2px !important;
      border-color: color(green);
    }
  }

  // CheckBox
  &__form-checkbox {
    --background: #fff;
    --border: #616161;
    --border-hover: #BBC1E1;
    --border-active: #009247;
    --tick: #fff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 50px;
    transition: all .3s;

    input, svg {
      width: 22px;
      height: 22px;
      display: block;
    }

    @media (max-width: 500px) {
      margin-top: 25px;
    }
  }


  &__form-checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }

    &:checked {
      --b: var(--border-active);
    }

    &.error{
      box-shadow: 0 0 5px red;
    }
  }

  &__popup-titles {
    margin-bottom: 18px;
  }

   &__form-checkbox:hover .label__checbox {
    color:#616161;
  }
  
  .label__checbox {
    margin-left: 8px;
    font-size: 16px;
    color: color(dark);
  }
  
  &__form-checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: -10px;
    width: 22px;
    height: 22px;
    margin: 0 0 0 10px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  
  &__form-checkbox.path input:checked {
    --s: 1px;
    transition-delay: 0.2s;
  }
  
   &__form-checkbox.path input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }
  
   &__form-checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
  }
  
   &__form-checkbox.bounce {
    --stroke: var(--tick);
  }
  
   &__form-checkbox.bounce input:checked {
    --s: 11px;
  }
  
   &__form-checkbox.bounce input:checked + svg {
    animation: bounce 0.2s linear forwards 0.2s;
  }
  
   &__form-checkbox.bounce svg {
    --scale: 0;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }


  &__form-button {
    border: none;
    cursor: pointer;

    @media (max-width: 400px) {
      margin: 0 auto;
      width: 100%;
    }
  }

  &__info-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 400px) {
      flex-direction: column;
    }
  }

  &__info-phone {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 20px;

      @media (max-width: 450px) {
        &:first-child {
          margin-bottom: 12px;
        }
      }
    }

    span {
      font-size: 18px;
      color: #6C6D70;
    }

    svg {
      margin-right: 10px;
      width: 25px;
      height: 25px;

      path {
        fill: green;
      }
    }
  }

  &__info-phone:hover {
    span {
      color: color(green);
    }
  }

  &__search-box {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin-bottom: 30px;

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__search-item {
    width: 25%;

    @media (max-width: 650px) {
     width: 100%;
     margin-bottom: 25px;
    }

    &:last-child {
      width: 18%;
      overflow: hidden;

      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }

  &__search-label {
    font-size: 15px;
    font-weight: 300;
    color: #6C6D70;
  }

  &__search-input {
    padding: 10px;
    margin-top: 10px;

    @media (max-width: 650px) {
      padding: 10px;
    }
  }

  &__search-button {
    width: 100%;
    height: 38px;

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__info-telegram{
    padding-bottom: 5px;
  }

  &__info__tg-item {
    margin-bottom: 15px;
    padding: 20px;
    background-color: #D4DDC9;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 5px green;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: color(dark);
    margin-bottom: 5px;
  }

  &__info-subtitle {
    font-weight: 500;
    color: color(dark);
  }

  &__info-text {
    margin-bottom: 12px;
    font-size: 14px;
  }

  &__info-link {
    height: 38px;
  }


   // Стили соцсетей
   &__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 95 !important;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;

    path {
      fill: green;
    }

    &:hover {
      path {
        fill: #1BC47D;
      }
    }
  }

  .ok__ru {
    svg {
      width: 26px !important;
      height: 26px !important;
      position: absolute;
      left: 3px;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    margin: 9px 0 0 5px;
    border-radius: 50%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    color: green;
    transition: .3s all;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
    
    path {
      fill: green;
      width: 30px;

      &:hover {
        fill: #1BC47D;
      }
    }
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
}