.support {
  margin: 180px auto 150px;

  @include phoneScreen {
    margin: 150px auto 100px;
  }

  &__nav {
    margin: 0 auto 100px;
    max-width: 400px;

    @media (max-width: 650px) {
      margin-bottom: 60px;
    }
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 12px;
  }

  &__contacts-subtitle {
    margin-bottom: 60px;
    color: #515151;
    text-align: center;
  }


  &__form-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    @media (max-width: 1100px) {
      display: block;
    }
  }

  &__form__mobile-container {
    width: 42%;

    @media (max-width: 1110px) {
      width: 100%;
    }
  }

  &__form {
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #21212172;
    padding: 25px;
    height: 100%;
    border-radius: 15px;

    @media (max-width: 1400px) {
      padding: 20px 15px;
    }

    @media (max-width: 1110px) {
      box-shadow: none;
      width: 60%;
    }

    @media (max-width: 700px) {
      width: 100%;
    }

  }

  &__label {
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__input {
    margin-bottom: 20px;
    height: 35px;

    &:first-child {
      width: 70%;
    }

    @media (max-width: 1400px) {

    }
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__inputs__left-block {
    margin-right: 15px;

    @media (max-width: 500px) {
      margin-right: 0;
    }
  }

  &__input-box {
    margin-bottom: 15px;
  }

  &__textarea-item {
    overflow: hidden;

    textarea {
      width: 100%;
      border-radius: 10px;
      height: 180px;
      padding: 20px 10px;
      margin-bottom: 25px;

      &:focus {
        border-color: #33953A;
      }

      @include ipadScreen {
        border-radius: 5px;
        height: 150px;
      }
    }
  }

  .inputfile-box {
    border: none;
    padding: 0;
    margin: 0 0 30px 0;
    position: relative;

    label {
      width: 60%;
      margin: 20px 0 8px;
      padding: 8px;
      border: none;
      cursor: pointer;
      color: #6C6D70;
      font-size: 14px;
      border-bottom: 1px solid #BCBDC0;
      text-overflow: ellipsis;
      position: relative;

      &:focus{
        border-bottom: 2px solid color(green);
      }
  
      &::before {
        content: "Прикрепить";
        position: absolute;
        padding: 5px 0 0 30px;
        right: -75px;
        bottom: 4px;
        width: 24px;
        height: 24px;
        font-size: inherit;
        font-weight: 500;
        color: color(black);
        background-size: cover;
        background: url('../assets/images/upload-icon.svg') no-repeat;
      }
    }
  
    input {
      margin: 0 !important;
      padding: 0;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      visibility: hidden;
    }

    .file-cleaner{
      position: absolute;
      top: 15px;
      right: 180px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      background: url('../assets/images/file-cleaner.svg') no-repeat;
      background-size: contain;
      z-index: 2;
    }

    p {
      font-size: 11.3px;
      line-height: 17px;
      color: #BCBDC0;
    }

    @include phoneScreen {
      label {
        width: 88%;

        &::after {
          display: none;
        }

        &::before {
          content: '';
          bottom: 3px;
          right: -17%;
        }
      }

      .file-cleaner{
        right: 40px;
      }
    }
  }
  
  // Checbox
  &__form-checkbox {
    display: flex;
    align-items: center;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      padding-left: 37px;
      font-size: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: color(black);
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 22px;
        height: 22px;
        border: 2px solid color(black);
      }

      &.error {

        &::before{
          border-color: red;
        }
      }

      &::after {
        display: none;
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 16.67px;
        height: 16px;
        background: url("../assets/images/checkbox.svg") no-repeat;
      }
    }

    input:checked + label {

      &::before {
        background-color: color(green);
        border-color: color(green) !important;
      }

      &::after {
        display: block;
        z-index: 2;
      }
    }

    @include phoneScreen{
      margin: 24px 0 45px;

      label {
        font-size: 12px;
        line-height: 15px;
        padding-left: 36px;
  
        &::before {
          top: 50%;
          transform: translateY(-50%);
        }
  
        &::after {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__search__mobile-box {
    display: none;

    @media (max-width: 1110px) {
      display: block;
    }
  }

  // Мобильная версия правого блока формы
  @media (max-width: 1110px) {

    &__form__mobile-container {
      display: flex;
      justify-content: space-around;
      max-width: 800px;
      margin: 0 auto 50px;
      background-color: #f5f5f5;
      box-shadow: 0 0 5px #21212172;
      padding: 25px;
      height: 100%;
      border-radius: 15px;

      @media (max-width: 700px) {
        flex-direction: column;
        width: 85%;
        padding: 0;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__search__mobile-container {
    padding: 40px 0 0 0;
  }


  &__search__mobile-box {
    display: none;

    @media (max-width: 1110px) {
      display: block;
      background: color(white);
      padding: 25px 10px;
      box-shadow: 0 0 2px #3131315c;
      border-radius: 10px;
      margin:0 0 0 0;

      @media (max-width: 700px) {
        padding: 30px 10px 20px 10px;
        border-radius: 0 0 10px 10px;
      }

      @media (max-width: 500px) {
        box-shadow: none;
      }
    }
  }

  @media (max-width: 1100px) {

    &__search__mobile-item {
      margin-bottom: 20px;

      @media (max-width: 700px) {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__search__mobile-label {
      margin-bottom: 5px;
    }

    &__search__mobile-button {
      margin-top: 35px;
    }
  }

  &__form-right {
    width: 55%;

    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  &__top__social-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 1100px) {
      display: none;
    }
  }
  
  &__top__social__mobile-box {
    display: none;

    @media (max-width: 1100px) {
      display: flex;
      flex-direction: column;

      @media (max-width: 700px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  &__mobile__phone {
    color: #212121;
    font-weight: 600;
    transition: all 0.3s;
    margin: 0 0 20px 0;

    i {
      color: #009247;
      padding-right: 10px;
    }
  }


  &__phone {
    color: color(dark);
    font-weight: 600;
    transition: all 0.3s;
    margin-right: 20px;

    i {
      color: color(green);
      padding-right: 10px;
    }
  }

  &__search-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #f5f5f5;
    margin-bottom: 40px;
    padding: 30px 15px;
    border-radius: 8px;
    box-shadow: 0 0 3px #828282;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__search-item {
  }

  &__search-label {
    margin-bottom: 8px;
  }

  &__search-input {
    width: 85%;
    height: 35px;

    &::placeholder { 
      color: #3131318e;
      font-size: 12px;
    }
  }

  &__search-button {
    width: 150px;
    height: 35px;

    @media (max-width: 1350px) {
      width: 120px;
    }
  }

  &__chat-box {
  }

  &__chat__box-item {
    background: #D9DCD4;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(193, 208, 195);
      box-shadow: 0 0 5px #2d2d2d;
    }
  }

  &__chat__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: color(dark);
  }

  &__chat__item-subtitle {
    color: color(dark);
    margin: 10px 0;
  }

  &__chat__item-text {
    color: color(dark);
  }

  &__file-container {
    margin-top: 30px;
  }

  &__file-box {
    position: relative;
    width: 160px;
    height: 160px;
    box-shadow: 0 0 2px #979797;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }

  &__add-file {
    display: flex;
    justify-content: center;
    align-items: center;
    color: color(green);
    font-weight: 500;
    line-height: auto;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border: 2px solid #33953A;
    border-radius: 50%;
    
    &:first-child {
      margin-bottom: 15px;
    }
  }

  &__add__file-click {
    position: absolute;
    opacity: 0;
    width: 160px;
    height: 160px;
    border-radius: 8px;
  }
  
  &__chat__item-button {
    margin: 15px 0 8px 0;
  }
}