
.notifications {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 130px auto 80px; 
  }

  &__container {
  }

  &__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .notification__tabs {
    display: flex;
    align-items: center;
  }

  &__tabs-list {
    cursor: pointer; 
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #2E6143;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: #2E6143;
    }

    &:nth-child(2) {
      margin: 0 20px;
    }
  } 

  &__filters {
    display: flex;
    align-items: end;

    input {
      width: 300px;
      padding-left: 35px;
    } 
  }

  &__search {
    position: relative;
    margin-right: 25px;

    svg {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 20px;
    }

    path {
      fill: #808080;
    }
  }

  &__calendar {
    position: relative;

    svg {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 20px;
    }

    path {
      fill: #808080;
    }
  }

  &__items-container {
  }

  &__block {
  }

  &__item {
  }

  &__button {
  }

  .little__button {
  }
}
