.typesizes {
  margin: 160px auto;

  @include ipadScreen {
    margin: 140px auto;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0px 0 15px 0;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  //Sidebar
  .equipment__sidebar {
    width: 250px;
    border-radius: 10px;
    height: max-content;
    margin: 10px 0 0 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #00000085;
    overflow: hidden;

    @media (max-width: 1200px) {
      width: 100%;
      margin: 10px auto 100px;
    }
  }

  .equipment__sidebar__title-box {
    padding: 10px 20px;
  }

  .equipment__sidebar-title {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.025em;   

    @media (max-width: 1200px) {
      text-align: center;
    }
  }

  .equipment__sidebar-title i {
    color:#548848;
    margin-right: 10px;
  }

  .equipment__sidebar-menu {
    background: #8B9C88;
  }

  .equipment__sidebar-category {
    display: flex;
    align-items: center;
    background-color: #45563c;
    color: color(white);
    padding: 20px;
  }

  .equipment__sidebar-category-icon {
    margin-right: 20px;
  }

  .equipment__sidebar-category-text {
    font-size: 18px;
  }

  .equipment__sidebar__fans__vran {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
    transition: all 0.3s;

    &:first-child {
      padding-top: 22px;
    }
    &:last-child {
      padding-bottom: 22px;
    }
  }

  .equipment__sidebar__fans__vran:hover {
    background-color: #748371;
  }

  .equipment__sidebar__fans__vran-text {
    color: white;
    width: 90%;
  }

  .equipment__sidebar__fans__vran-icon {
    color: white;
  }

  // Навигация Табов
  &__second-block {
    max-width: 1000px;

    @media (max-width:1420px) {
      max-width: 950px;
    }

    @media (max-width:1380px) {
      max-width: 900px;
    }

    @media (max-width:1320px) {
      max-width: 850px;
    }

    @media (max-width:1200px) {
      max-width: 1100px;
    }
  }

  &__nav {
    margin: 0 auto 50px;
    max-width: 900px;

    @media (max-width:1380px) {
      max-width: 800px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__menu-link {
    color: #313131;
    font-weight: 600;
    font-size: 18px;
    position: relative;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: color(transparent);

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .hide {
    display: none;
  }

  &__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  // Описание
  &__description__container {
    max-width: 1000px;
    margin-left: 20px;
    display: block;

    @media (max-width: 1200px) {
      margin: 0 auto;
    }
  }

  &__description__models {
    text-align: right;
    margin: 0 0 50px 0;
    border-spacing: none;
  }

  &__decription__img {
    overflow: hidden;
  }

  .typesizes__description__button {
    margin: 30px auto 70px;
    width: 280px;
    padding: 25px 0;
  }

  &__table__container {
    max-width: 1000px;
    height: 700px;
    overflow: auto;
    overflow-x: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(44, 42, 42, 0.65);
  }

  &__table__box {
    width: 100%;
    color: color(white);
  }

  &__table__title {
    font-size: 16px;
    padding: 15px 0;
    background: #548848;
  }

  .first__title {
    width: 580px !important;
    padding: 0 0 0 20px;
    text-align: left;

    @include phoneScreen {
      width: 200px !important;
      padding: 8px 8px;
    }
  }

  .second__title {
    background-color: #90AC12;
    width: 260px;

    @include phoneScreen {
      padding: 15px 8px;
      width: 100px;
    }
  }

  .third__title {
    width: 160px;
    background: #548848;

    @include phoneScreen {
      width: 110px;
      padding: 15px 8px;
    }
  }

  &__table__item-box {
    background: #EBEBEB;
    padding: 15px 0;
    color: color(dark);
    font-size: 14px;
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }

  .first__item {
    text-align: left;
    padding: 0 0 0 20px;

    @include phoneScreen {
      padding: 8px 8px;
    }
  }

  .second__item {
    background: #9DB199;
    color: color(white);
  }

  .third__item {
    font-weight: 500;

    i {
      color: color(dark);
      margin-left: 8px;
    }
  }

  &__table__item-box-2 {
    background: #CFCFCF;
    padding: 15px 0;
    color: color(dark);
    font-size: 14px;
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }

  .first__item-2 {
    text-align: left;
    padding: 0 0 0 20px;

    @include phoneScreen {
      padding: 8px 8px;
    }
  }

  .second__item-2 {
    background: #C1CEB5 !important;
  }

  .third__item-2 {
    font-weight: 500;
    
    i {
      color: color(dark);
      margin-left: 8px;
    }
  }
  
  &__table__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.025em;
    color: #000000;
    margin: 12px 0 12px 8px;  

    span{
      font-weight: 700;
      font-style: italic;
    }
  }

  &__table__middle-box  {
    max-width: 1000px;

    @media (max-width: 845px) {
     display: none;
    }
  }

  &__table__middle {
    background-color: #548848;
    width: 112px !important;
    padding: 15px;
    color: #fff;
    border-style: solid;
    border-width: 0.3px;
    border-color: #d0d0d0;
  }

  .middle__table-1 {
    width: 112px;
  }

  .middle__table-3 {
    font-size: 14px;
  }

  .middle__table-4 {
    font-size: 14px;
  }

  .middle__table-5 {
    font-size: 14px;
  }
  
  .middle__table-6 {
    font-size: 14px;
  }

  &__table__last-child {
    width: 100%;
  }

  &__table__title {
    color: color(white);
  }



  &__table__middle-first {
    background: #EBEBEB;
    padding: 15px;
    color: color(dark);
    text-align: center;
    border-style: solid;
    border-width: 0.3px;
    border-color: #adadad;
  }

  &__table__middle-second {
    background: #CFCFCF;
    padding: 15px;
    color: color(dark);
    text-align: center;
    border-style: solid;
    border-width: 0.3px;
    border-color: #adadad;
  }



  // Мобильная таблица
  &__table__middle__box-mobile {
    // display: none;

    @media (max-width: 845px) {
      display: block;
      max-width: 845px !important;
      overflow: hidden;
    }
  }

  .middle__table__mobile-title {
    background-color: #548848;
    width: 220px !important;
    padding: 10px;
    color: color(white);
    font-size: 14px;
  }

  .middle__table__mobile-first {
    background-color: #EBEBEB;
    width: 140px !important;
    padding: 10px;
    color: color(dark);
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }

  .middle__table__mobile-second {
    background-color: #CFCFCF;
    width: 140px !important;
    padding: 10px;
    color: color(dark);
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }


  // Техническая Характеристика
  &__technical__container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__technical__top-box {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto 200px;
    padding-left: 20px;

    @media (max-width:1200px) {
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
    }
  }

  &__technical__left-item {
    max-width: 480px;
    margin-right: 3%;

    @media (max-width:1200px) {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
  }

  &__technical__left-title {
    margin-bottom: 17px;
  }


  &__technical__left__title-top {
    background-color: #E4E4DE;
    text-align: center;
    font-weight: 600;
    padding: 10px;
  }

  .first__table__long {
    width: calc(100% / 60%);
    text-align: left;
    padding: 0 0 0 10px;
    background-color: #ABABAB;
    color: color(white);
  }

  &__technical__left__table {
    width: calc(100% / 20%);
    background-color: #E4E4DE;
    padding: 10px;
    color: color(dark);
    border-style: solid;
    border-width: 0 0 0.3px 0.3px;
    border-color: gray;
  }

  &__technical__right-item {
    max-width: 500px;

    @media (max-width:1200px) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__table-box {
    display: block;

    @media (max-width: 700px) {
      display: none;
    }
  }

  table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border: 1px solid rgb(170, 170, 170);
  }

  .fans__vran__table__size-box-top {
    font-size: 12px;
    border-style: solid;
    border-width: 0 1px 0px 0;
    border-color: white;
    background: #CDCDC0;
  }

  .size__0 {
    padding: 10px 2px 10px 33px !important;
    width: 275px;
    background: #E4E4DE;

    @media (max-width: 1200px) {
      width: 281px;
    }

    @media (max-width: 768px) {
      width: 228px;
    }
  }
  .size__1 {
    padding: 9px !important;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }

  .size__2 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__3 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__4 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__5 {
    padding: 5px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__6 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__7 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__8 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }
  .size__9 {
    padding: 9px;
    width: 67px;

    @media (max-width: 768px) {
      width: 54.4px;
    }
  }

  .fans__vran__table__container {
    display: flex;
  }

  .fans__vran__table__right-block {
    width: 264px;
    height: auto;
    display: flex;
    background: #DBE6D9;

    @media (max-width: 1200px) {
      width: 270px;
    }
  }

  .fans__vran__table__right-item {
    padding: 20px 10px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.199);

    @media (max-width: 1200px) {
      padding: 20px 13px;
    }

    @media (max-width: 768px) {
      padding: 20px 8px;
    }

    &:first-child {
      border-left: 1px solid rgba(0, 0, 0, 0.199);
    }

    &:last-child {
      border-right: none;
    }
  }

  .width__size__table-line {
    width: 736px;
  }

  .fans__vran__table__numbers-size {
    width: 15px;
    font-size: 12px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 7px;
    background: #B6AFAF;
    color: #fff;
  }

  .fans__vran__table__numbers-size-box {
    width: 28px;
    font-size: 12px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: #B2C9AC;
    padding: 10px;
    color: #fff;
  }

  .bottom__box-size {
    border-bottom: 1px solid #f5f5f5;
  }

  .number__last__size {
    padding: 5px;
  }


  //Mobile-table
  .fans__vran__table__mobile-box {
    display: none;

    @media (max-width: 700px) {
      display: block;
    }
  }

  .fans__vran__table__mobile-second-box, .fans__vran__table__mobile-third-box {
    display: none;

    @media (max-width: 700px) {
      display: block;
    }
  }

  .fans__vran__mobile-top-title {
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #E4E4DE;
  }

  .width__size__table-line-mobile {
    width: 100%;
  }

  .fans__vran__mobile-top-numbers {
    width: 20px !important;
    font-size: 14px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: color(white);
    padding: 7px;
    background: #B6AFAF;
    color: color(white);

    &:first-child {
      background-color: #D0C5C5;
    }
  }

  .fans__vran__mobile-top-subtitle {
    font-size: 12px;
    border-style: solid;
    border-width: 0 1px 0px 0;
    border-color: white;
    background: #DBE6D9;
    padding: 15px 0;
  }

  .fans__vran__mobile-size {
    font-size: 12px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: #CDCDC0;
  }

  .fans__vran__mobile-size-box {
    background-color: #B2C9AC;
    color: color(white);
    width: 28px;
    font-size: 12px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 10px 5px 10px 5px;
  }

  // Сертификаты!
  &__sertificat__container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      margin: 0 auto;
    }
  }

  &__sertificat__item {
    width: 280px;
    margin: 0 10px 30px 10px;
    transition: all 0.3s;
    cursor: pointer;

    @media (max-width: 1320px) {
      width: 265px;
    }

    @media (max-width: 900px) {
      width: 310px;
    }
  }

  &__sertificat__item:hover &__sertificat__title {
    color: rgb(4, 57, 117);
   transition: all 0.3s;
  }

  &__sertificat__item:hover &__sertificat__discription {
    color: rgb(4, 57, 117);
   transition: all 0.3s;
  }

  &__sertificat__image-box {
    padding: 10px;
    width: 270px;
    height: max-content;
    margin: 0 auto 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));

    img {
      max-width: 100%;
      height: 100%;
    }

    @media (max-width: 900px) {
      width: 290px;
      margin-bottom: 5px;
    }
  }

  &__sertificat__title {
    font-weight: 600;
    text-align: center;
    line-height: 140%;
    color: #548848;
    font-size: 18px;
    max-width: 200px;
    margin: 0 auto 8px auto;
    transition: all 0.3s;

    @media (max-width: 1320px) {
      line-height: 125%;
      margin: 0 auto 5px;
    }
  }

  &__sertificat__discription {
    line-height: 133%;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s;

    @media (max-width: 1320px) {
      line-height: 125%;
    }
  }

  // Popup
  &__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(19, 28, 8, 0.5);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
  
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
 
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    @include phoneScreen{
      align-items: start;
    }
  }

  &__content {
    max-width: 470px;
    border-radius: 15px;
    padding: 48px 24px 56px;
    opacity: 0;
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transition: all 0.4s;
    background-color: color(white);
    position: relative;

    @include phoneScreen{
      padding: 45px 16px;
    }
  }

  &__popup.open  &__content {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0%) rotateX(0);
  }

  &__close-popup {
    position: absolute;
    top: 20px;
    right: 15px;
    line-height: 18px;
    font-size: 50px;
    color: #E6E7E9;
    cursor: pointer;
  }
 
  .typesizes__popup-heading {
    font-size: 22px;
    color: grey;
  }

  &__checkbox-parent {
    display: flex;
    max-width: 60%;
    margin: 40px auto;
    justify-content: space-between;

    @media (max-width: 500px) {
      max-width: 85%;
    }
  }

  .parent-2 {
    max-width: 45%;

    @media (max-width: 500px) {
      max-width: 70%;
    }
  }

  &__checkbox-container {
    padding: 0 0 0 30px;
    position: relative;
    margin-bottom: 0 !important;
    font-size: 22px;
    text-transform: uppercase;
  }

  &__check-input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__check-input:checked + &__check-box {
    background: color(green);
    border-color: color(green);
  }

  &__check-box {
    position: absolute;
    margin: 0 0 0 -28px !important;
    width: 18px;
    height: 18px;
    border: 1px solid #212121;
    border-radius: 50%;
  }

  &__popup-label {
    padding-left: 37px;
    font-size: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: color(black);
    cursor: pointer;
    position: relative;
  }
  
  .popup__button {
    margin: 0 auto;
  }


  
  // Стили соцсетей
  .banner__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 100;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  .banner__icon {
    font-size: 28px;
    font-weight: 700;
    color: color(green);
    transition: 0.3s;
    margin: 5px 0;
    z-index: 50;

    &:hover {
      color: #1BC47D;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    background: none;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(23, 165, 13, 0.3);
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    z-index: 99;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    /* -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite; */
    color: green;
    font-size: 28px;

    transition: .3s all;
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }


}

