.typesizes {
  margin: 160px auto;

  @include ipadScreen {
    margin: 140px auto;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0px 0 15px 0;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
    }
  }
   //Sidebar
   .equipment__sidebar {
    width: 250px;
    border-radius: 10px;
    height: max-content;
    margin: 10px 0 0 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #00000085;
    overflow: hidden;

    @media (max-width: 1200px) {
      width: 100%;
      margin: 10px auto 100px;
    }
  }

  .equipment__sidebar__title-box {
    padding: 10px;
  }

  .equipment__sidebar-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.025em; 
    display: flex;
    align-items: center;  

    svg {
      margin-right: 8px;
    }

    @media (max-width: 1200px) {
      justify-content: center;
    }
  }

  .equipment__sidebar-menu {
    background: #8B9C88;
  }

  .equipment__sidebar-category {
    display: flex;
    align-items: center;
    background-color: #45563c;
    border-bottom: 0.5px solid #b4bdb27d;
    color: color(white);
    padding: 16px;
    transition: all 0.3s;

    &:hover {
      background-color: #5d7a4e;
    }
  }

  .equipment__sidebar-category-icon {
    margin-right: 12px;
  }

  .equipment__sidebar-category-text {
    font-size: 16px;
  }

  .equipment__sidebar__fans__vran {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
    transition: all 0.3s;
    font-weight: 300;
    border-top: 0.5px solid #b4bdb27d;
    border-bottom: 0.5px solid #b4bdb27d;

    &:first-child {
      padding-top: 22px;
    }
    &:last-child {
      padding-bottom: 22px;
    }
  }

  .equipment__sidebar__fans__vran:hover {
    background-color: #748371;
  }

  .equipment__sidebar__fans__vran-text {
    color: white;
    width: 90%;
  }

  .equipment__sidebar__fans__vran-icon {
    color: white;
  }

  // Навигация Табов
  &__second-block {
    max-width: 1000px;

    @media (max-width:1420px) {
      max-width: 950px;
    }

    @media (max-width:1380px) {
      max-width: 900px;
    }

    @media (max-width:1320px) {
      max-width: 850px;
    }

    @media (max-width:1200px) {
      max-width: 1100px;
    }
  }

  &__nav {
    margin: 0 auto 50px;
    max-width: 900px;

    @media (max-width:1380px) {
      max-width: 800px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__menu-link {
    color: #313131;
    font-size: 18px;
    position: relative;
    padding-bottom: 20px;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    @media (max-width: 650px) {
      padding-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: color(transparent);

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .hide {
    display: none;
  }

  &__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  // Описание
  &__description__container {
    max-width: 1000px;
    margin-left: 20px;
    display: block;

    @media (max-width: 1200px) {
      margin: 0 auto;
    }
  }

  &__description__models {
    text-align: right;
    margin: -50px 0 0 0;
  }

  &__decription__img {
    margin: 0;
  }

  .card {
    max-width: 50%;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    background: #fff;
    padding: 70px 25px;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;

    @include phoneScreen {
      max-width: 100%;
    }
  }
  
  .card .photo {
    cursor: pointer;
    width: 350px;
    margin: 0 auto;
    transition: all 0.75s ease-out; 

    @include phoneScreen {
      width: auto;
    }
  }
  
  .card .photo img {
    border-radius: 50%;
    transition: all 1s ease-out;
  }
  
  .card:hover .photo img {
    transform: rotate(400deg);
  }

  .typesizes__description__button {
    margin: 30px auto 70px;
    width: 280px;
    padding: 25px 0;
  }

  &__table__container {
    max-width: 1000px;
    height: 700px;
    overflow: auto;
    overflow-x: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(44, 42, 42, 0.65);
  }

  &__table__box {
    width: 100%;
    color: color(white);
  }

  &__table__title {
    font-size: 16px;
    padding: 15px 0;
    background: #548848;
  }

  .first__title {
    width: 580px !important;
    padding: 0 0 0 20px;
    text-align: left;

    @include phoneScreen {
      width: 200px !important;
      padding: 8px 8px;
    }
  }

  .second__title {
    background-color: #90AC12;
    width: 260px;

    @include phoneScreen {
      padding: 15px 8px;
      width: 100px;
    }
  }

  .third__title {
    width: 160px;
    background: #548848;

    @include phoneScreen {
      width: 110px;
      padding: 15px 8px;
    }
  }

  &__table__item-box {
    background: #EBEBEB;
    padding: 15px 0;
    color: color(dark);
    font-size: 14px;
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }

  .first__item {
    text-align: left;
    padding: 0 0 0 20px;

    @include phoneScreen {
      padding: 8px 8px;
    }
  }

  .second__item {
    background: #9DB199;
    color: color(white);
  }

  .third__item {
    font-weight: 400;
  }

  &__table__item-box-2 {
    background: #CFCFCF;
    padding: 15px 0;
    color: color(dark);
    font-size: 14px;
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }

  .first__item-2 {
    text-align: left;
    padding: 0 0 0 20px;

    @include phoneScreen {
      padding: 8px 8px;
    }
  }

  .second__item-2 {
    background: #C1CEB5 !important;
  }

  .third__item-2 {
    font-weight: 400;
  }
  
  &__table__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.025em;
    color: #000000;
    margin: 12px 0 12px 8px;  

    span{
      font-weight: 700;
      font-style: italic;
    }
  }

  &__table__middle-box  {
    max-width: 1000px;

    @media (max-width: 845px) {
     display: none;
    }
  }

  &__table__middle {
    background-color: #548848;
    width: 112px !important;
    padding: 15px;
    color: #fff;
    border-style: solid;
    border-width: 0.3px;
    border-color: #d0d0d0;
  }

  .middle__table-1 {
    width: 112px;
  }

  .middle__table-3 {
    font-size: 14px;
  }

  .middle__table-4 {
    font-size: 14px;
  }

  .middle__table-5 {
    font-size: 14px;
  }
  
  .middle__table-6 {
    font-size: 14px;
  }

  &__table__last-child {
    width: 100%;
  }

  &__table__title {
    color: color(white);
  }


  table {
    border-collapse: collapse;
    width: 100%;
  }


  &__table__middle-first {
    background: #EBEBEB;
    padding: 15px;
    color: color(dark);
    text-align: center;
    border-style: solid;
    border-width: 0.3px;
    border-color: #adadad;
  }

  &__table__middle-second {
    background: #CFCFCF;
    padding: 15px;
    color: color(dark);
    text-align: center;
    border-style: solid;
    border-width: 0.3px;
    border-color: #adadad;
  }



  // Мобильная таблица
  &__table__middle__box-mobile {
    // display: none;

    @media (max-width: 845px) {
      display: block;
      max-width: 845px !important;
      overflow: hidden;
    }
  }

  .middle__table__mobile-title {
    background-color: #548848;
    width: 220px !important;
    padding: 10px;
    color: color(white);
    font-size: 14px;
  }

  .middle__table__mobile-first {
    background-color: #EBEBEB;
    width: 140px !important;
    padding: 10px;
    color: color(dark);
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }

  .middle__table__mobile-second {
    background-color: #CFCFCF;
    width: 140px !important;
    padding: 10px;
    color: color(dark);
    font-weight: 400;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
  }



  //Стили для Видео
  &__video-container {
    max-width: 1000px;
    margin: 100px auto 0;
  }

  &__video-title {
    font-weight: 500;
    font-size: 35px;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 40px;
  }

  &__video-item {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  .typesize__video-1-dimensions {
    width: 100%;
    height: 500px;

    @include phoneScreen {
      height: 400px;
    }

    @media (max-width: 500px) {
      height: 300px;
    }

    @media (max-width: 400px) {
      height: 280px;
    }

    @media (max-width: 350px) {
      height: 250px;
    }
  }


  // Техническая Характеристика
  &__technical__container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__technical__top-box {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto 200px;
    padding-left: 20px;

    @media (max-width:1200px) {
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
    }
  }

  &__technical__left-item {
    max-width: 480px;
    margin-right: 3%;

    @media (max-width:1200px) {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
  }

  &__technical__left-title {
    margin-bottom: 17px;
  }


  &__technical__left__title-top {
    background-color: #E4E4DE;
    text-align: center;
    font-weight: 600;
    padding: 10px;
  }

  .first__table__long {
    width: calc(100% / 60%);
    text-align: left;
    padding: 0 0 0 10px;
    background-color: #ABABAB;
    color: color(white);
  }

  &__technical__left__table {
    width: calc(100% / 20%);
    background-color: #E4E4DE;
    padding: 10px;
    color: color(dark);
    border-style: solid;
    border-width: 0 0 0.3px 0.3px;
    border-color: gray;
  }

  &__technical__right-item {
    max-width: 500px;

    @media (max-width:1200px) {
      max-width: 100%;
      margin: 0;
    }
  }



  // Сертификаты!
  &__sertificat__container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      margin: 0 auto;
    }
  }

  &__sertificat__item {
    width: 280px;
    margin: 0 10px 30px 10px;
    transition: all 0.3s;
    cursor: pointer;

    @media (max-width: 1320px) {
      width: 265px;
    }

    @media (max-width: 900px) {
      width: 310px;
    }
  }

  &__sertificat__item:hover &__sertificat__title {
    color: rgb(4, 57, 117);
   transition: all 0.3s;
  }

  &__sertificat__item:hover &__sertificat__discription {
    color: rgb(4, 57, 117);
   transition: all 0.3s;
  }

  &__sertificat__image-box {
    padding: 10px;
    width: 270px;
    height: max-content;
    margin: 0 auto 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));

    img {
      max-width: 100%;
      height: 100%;
    }

    @media (max-width: 900px) {
      width: 290px;
      margin-bottom: 5px;
    }
  }

  &__sertificat__title {
    font-weight: 600;
    text-align: center;
    line-height: 140%;
    color: #548848;
    font-size: 18px;
    max-width: 200px;
    margin: 0 auto 8px auto;
    transition: all 0.3s;

    @media (max-width: 1320px) {
      line-height: 125%;
      margin: 0 auto 5px;
    }
  }

  &__sertificat__discription {
    line-height: 133%;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s;

    @media (max-width: 1320px) {
      line-height: 125%;
    }
  }

  &__calculations__img-box {
    border-radius: 10px;
    overflow: hidden;
  }

  // Popup
  .typesizes__popup-container {
    overflow: hidden;
  }

  .typesizes__popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    z-index: 90;
    transition: 0.3s all;

    &.open {
      opacity: 1;
      pointer-events: all; 
      transition: 0.3s all;
    }
  }

  .typesizes__popup-bg.open .typesizes__popup-items {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.3s all;
  }

  .typesizes__popup-items {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 100%;
    height: 100vh;
    padding: 70px 25px 25px 25px;
    transition: 0.3s all;
    overflow: hidden;
    z-index: 100;
    overflow: auto;

    @media (max-width: 900px) {
      padding: 90px 0;
      top: 53%;
    }

  }

  &__close-popup {
    position: absolute;
    top: 5%;
    right: 3%;
    cursor: pointer;
    font-size: 40px;
    font-weight: 300;
    color: gray;
  }

  // CheckBox
  &__checkbox {
    --background: #fff;
    --border: #616161;
    --border-hover: #BBC1E1;
    --border-active: #009247;
    --tick: #fff;
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;
    transition: all .3s;

    input, svg {
      width: 18px;
      height: 18px;
      display: block;
    }
  }

  &__popup-titles {
    margin-bottom: 18px;
  }

  &__checkbox:hover &__name {
    color:#616161;
  }
  
  &__name {
    margin-left: 8px;
    font-size: 16px;
    color: color(dark);
  }

  &__checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }

    &:checked {
      --b: var(--border-active);
    }
  }
  
  &__checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  
  &__checkbox.path input:checked {
    --s: 1px;
    transition-delay: 0.2s;
  }
  
  &__checkbox.path input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }
  
  &__checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
  }
  
  &__checkbox.bounce {
    --stroke: var(--tick);
  }
  
  &__checkbox.bounce input:checked {
    --s: 11px;
  }
  
  &__checkbox.bounce input:checked + svg {
    animation: bounce 0.2s linear forwards 0.2s;
  }
  
  &__checkbox.bounce svg {
    --scale: 0;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  &__popup-blocks {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 50px;

    @include phoneScreen {
      flex-direction: column;
    }
  }

  &__popup-title {
    text-align: left;
    margin: 0 0 18px 0;
    font-size: 18px;
    font-weight: 400;
    color: #6a6a6a;
  }

  &__popup-checkboxes {
    display: flex;
    align-items: start;
    margin-bottom: 15px;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__popup-item {

    &:last-child {
      margin-left: 50px;
    }

    @media (max-width: 1100px) {
      order: 2;

      &:last-child {
        order: 1;
        margin-left: 0;
      }
    }
  }

  &__popup-button-block {
    margin: 20% 0 0 0;

    @media (max-width: 440px) {
      margin-bottom: 10%;
    }
  }

  &__popup-btn {
    outline: none;
    border: none;
  }

  &__popup-information {
    width: 60%;
    margin: 0px 0 0 8%;

    @media (max-width: 900px) {
      width: 100%;
      margin: 2% 0 0 0;
    }
  }

  &__popup-information-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 30px;
    background-color: #F0F0F0;
    transition: all 0.3s;
    border-radius: 5px;
    margin-bottom: 12px;

    &:hover {
      background-color: #33953A;
    }

    @media (max-width: 430px) {
      padding: 5px;
    }
  }

  &__information-title {
    font-size: 16px;
    color: #404040;

    @media (max-width: 400px) {
      font-size: 14px;
    }
  }

  &__popup-information-item:hover 
  &__information-title {
    color: #fff;
  }

  &__information-href {
    
    svg {
      width: 25px;
      height: 25px;
      margin: 0 15px 0 0;
      transition: all 0.3s;

      @media (max-width: 400px) {
        margin: 0;
      }

      path {
        fill: #404040;
      }
    }
  }

  &__popup-information-item:hover svg {
    path {
      fill: #fff;
    }
  }
  
  // Стили соцсетей
  &__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 95 !important;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;

    path {
      fill: green;
    }

    &:hover {
      path {
        fill: #1BC47D;
      }
    }
  }

  .ok__ru {
    svg {
      width: 26px !important;
      height: 26px !important;
      position: absolute;
      left: 3px;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    margin: 9px 0 0 5px;
    border-radius: 50%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    color: green;
    transition: .3s all;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
    
    path {
      fill: green;
      width: 30px;

      &:hover {
        fill: #1BC47D;
      }
    }
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
}

