.industry {

  &__title {
    font-weight: 500;
    font-size: 35px;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 40px;

    @media (max-width: 500px) {
      font-weight: 500;
      font-size: 25px;
      margin: 0 0 20px 0;
      text-align: center;
      line-height: 28px;
    }
  }

  &__gallery-content {
    overflow: hidden;
    border-radius: 12px;
  }

  &__gallery__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;

    @media (max-width: 950px) {
      flex-direction: column;
      height: auto;
      padding: 10px 0 0 0;
    }
  }

  &__gallery__top-items {
    width: 32.7%;
    height: 100%;
    transition: all 0.2s;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px #212121;
    }

    img {
      object-fit: contain;
    }

    @media (max-width: 950px) {
      width: 100%;
      margin-bottom: 12px;
      height: 240px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 450px) {
      height: 100%;
    }
  }

  &__gallery__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    
    @media (max-width: 950px) {
      flex-direction: column;
      height: auto;
      padding: 12px 0;
    }
  }

  &__gallery__bottom-items {
    width: 49.5%;
    height: 100%;
    position: relative;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 10px #212121;
    }

    img {
      object-fit: contain;
    }

    @media (max-width: 950px) {
      width: 100%;
      margin-bottom: 12px;
      height: 240px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include phoneScreen {
      width: 100%;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 450px) {
      height: 100%;
    }
      
  }

  &__gallery__bottom-items-pc {
    display: block;

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__gallery__bottom-items-mob {
    display: none;

    @media (max-width: 950px) {
      display: block;
    }
  }

   /* Настройки маркированного списка */
   .hover-effect-scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
    
    @media (max-width:950px) {
      height: 100%;
    }
  }

  .hover-effect-scale li {
    position: relative;
    margin: 0;
    overflow: hidden;

    @media (max-width:950px) {
      height: 100%;
    }
  }

  .hover-effect-scale li img {
    transition: all 0.2s linear;
    transform: scale(1);

    @media (max-width: 950px) {
      object-fit: cover;
    }

    @media (max-width: 450px) {
      object-fit: contain;
    }
  }

  .hover-effect-scale li:hover img {
    transform: scale(1.1);
  }
}
