.industry {

  &__title {
    font-weight: 500;
    font-size: 35px;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 40px;

    @media (max-width: 500px) {
      font-weight: 500;
      font-size: 25px;
      margin: 0 0 20px 0;
      text-align: center;
      line-height: 28px;
    }
  }

  &__gallery-container {
    overflow: hidden;
    border-radius: 12px;
  }

  &__gallery__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
  
    @media (max-width: 950px) {
      flex-direction: column;
      height: auto;
    }
  }
  
  &__gallery__top-items {
    width: 32.7%;
    height: 100%;
    background-color: rgb(0 132 25 / 76%);
    transition: all 0.3s;
    position: relative;
  
    &:hover {
      box-shadow: 0 0 10px #212121;
    }
  
    img {
      object-fit: contain;
    }
  
    @media (max-width: 950px) {
      height: 200px;
      width: 100%;
      margin-bottom: 12px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__gallery__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    overflow: hidden;
    padding: 10px 0 0px 0px;
    
    @include phoneScreen {
      flex-direction: column;
      height: auto;
      padding: 12px 0;
    }
  }
  
  &__gallery__bottom-items {
    width: 49.5%;
    height: 100%;
    background-color: rgb(0 132 25 / 76%);
    position: relative;
    transition: all 0.3s;
  
    &:hover {
      box-shadow: 0 0 10px #212121;
    }
  
    img {
      object-fit: contain;
    }
      
    @include phoneScreen {
      width: 100%;
      height: 200px;
      margin-bottom: 12px;
    }
  }
  
  .hover-effect-btn {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .title {
    position: absolute;
    width: 100%;
    left: 0;
    font-weight: 500;
    top: 30%; /* Отступ сверху */
    font-size: 25px; /* Размер текста заголовка */
    text-align: center;
    text-transform: uppercase; /* Заглавные буквы */
    color: white; /* Цвет заголовка */
    z-index: 1;
    transition: top .4s ease;
  }
  
  .hover-effect-btn:hover .title {
    top: 20%; /* Отступ сверху при наведении */
  }
  
  @media (min-width: 950px) {
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background 0.4s ease;
    }
  
    .hover-effect-btn:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.656); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
    }
  
    .button {
      position: absolute;
      width: 100%;
      left:0;
      top: 65%; /* Отступ сверху */
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
    }
  
    .button a {
      padding: 10px 50px; /* Отступ */
      text-align: center;
      background: #fff; /* Цвет кнопки */
      color: rgb(26, 130, 0); /* Цвет текста */
      border: 1px solid white; /* Ширина, стиль и цвет границы */
      z-index: 1; 
      border-radius: 8px;
    }
  
    .hover-effect-btn:hover .button {
      opacity: 1;
    }
  }
  
  @media (max-width: 950px) {
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 28%);
    }
  
    .button {
      position: absolute;
      width: 100%;
      left:0;
      top: 65%; /* Отступ сверху */
      text-align: center;
      opacity: 1;
      transition: opacity .35s ease;
    }
  
    .button a {
      padding: 10px 50px; /* Отступ */
      text-align: center;
      background: #fff; /* Цвет кнопки */
      color: rgb(26, 130, 0); /* Цвет текста */
      border: 1px solid white; /* Ширина, стиль и цвет границы */
      z-index: 1; 
      border-radius: 8px;
    }
  }
}