.authorization {
  margin: 150px auto 30%;

  @include phoneScreen {
    margin: 100px auto 80px;
  }

  &__nav {
    margin: 0 auto 80px;
    max-width: 300px;

    @include phoneScreen {
      margin-bottom: 50px;
    }
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  .hide {
    display: none;
  }

  // TABS
  &__tabs-item {
    padding: 5px;
  }

  &__form {
    width: 95%;
    margin: 0 auto;

    @include phoneScreen {
      width: 100%;
    }
  }

  &__form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
  }

  &__inputs-item {
    width: 100%;
  }

  &__form-name {
    width: 100%;
    padding: 8px;
    margin-top: 55px;
    border: none;
    border-bottom: 1px solid #BCBDC0;
    color: color(black);
    font-size: 14px;

    @media (max-width: 500px) {
      margin: 35px 0 0 0;
    }
    
    &:first-child {
      margin-right: 20px;

      @media (max-width: 500px) {
        margin-right: 0;
      }
    }

    &::placeholder {
      color: #6C6D70;
    }

    &:focus {
      border-width: 2px;
      border-color: color(green);
    }

    &.error {
      border-color: red;
    }
  }

  &__form-check-boxces {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 50px 0;
  }

  &__form-recovery {
    color: gray;
    transition: all 0.3s;

    &:hover {
      color: color(green);
    }
  }

  &__form-checkbox {
    --background: #fff;
    --border: #616161;
    --border-hover: #BBC1E1;
    --border-active: #009247;
    --tick: #fff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;

    svg {
      width: 22px;
      height: 22px;
      display: block;
    }

    input { 
      width: 22px;
      height: 22px;
    }

    .authorization__input-checkbox {
      width: 22px;

      @media (max-width: 510px) {
        width: 23px;
      }
      @media (max-width: 480px) {
        width: 24px;
      }
      @media (max-width: 440px) {
        width: 27px;
      }
      @media (max-width: 400px) {
        width: 31px;
      }
      @media (max-width: 380px) {
        width: 33px;
      }
      @media (max-width: 370px) {
        width: 35px;
      }
    }

    @include phoneScreen {
      align-items: start;
    }
  }

  &__form-checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }

    &:checked {
      --b: var(--border-active);
    }

    &.error{
      box-shadow: 0 0 5px red;
    }
  }

  &__popup-titles {
    margin-bottom: 18px;
  }

   &__form-checkbox:hover .label__checbox {
    color:#616161;
  }
  
  .label__checbox {
    margin-left: 8px;
    font-size: 15px;
    color: color(dark);
  }
  
  &__form-checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: -10px;
    width: 22px;
    height: 22px;
    margin: 0 0 0 10px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  
  &__form-checkbox.path input:checked {
    --s: 1px;
    transition-delay: 0.2s;
  }
  
   &__form-checkbox.path input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }
  
   &__form-checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
  }
  
   &__form-checkbox.bounce {
    --stroke: var(--tick);
  }
  
   &__form-checkbox.bounce input:checked {
    --s: 11px;
  }
  
   &__form-checkbox.bounce input:checked + svg {
    animation: bounce 0.2s linear forwards 0.2s;
  }
  
   &__form-checkbox.bounce svg {
    --scale: 0;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  // Регистрация
  &__tabs-item {
    max-width: 550px;
    margin: 0 auto;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
  }

  &__second-form {
    margin: 0 auto;
    padding: 5px 30px 30px 30px;
    border-radius: 10px;

    @media (max-width: 600px) {
      padding: 5px 0 30px 0;
    }
  }

  &__second__form__input-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 560px) {
      flex-direction: column;
    }
  }

  &__second__form__input-content {
    width: 100%;
  }

  &__second__form-items {
   display: flex;
   align-items: center;

    @media (max-width: 580px) {
     flex-direction: column;
    }
  }

  .authorization__align {
    align-items: end;
    margin: 50px 0 0 0;
  }

  &__form-select {
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;

    @media (max-width: 580px) {
      width: 100%;
      margin: 0 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .title__job {
    width: 100%;
    margin-top: 20px;

    input {
      width: 100%;
    }
  }

  &__form-inputs {
    width: 50%;
    padding: 8px;
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid #BCBDC0;
    color: color(black);
    font-size: 14px;

    &:first-child {
      margin-right: 20px;

      @media (max-width: 580px) {
        margin-right: 0;
      }
    }

    @media (max-width: 580px) {
      width: 100%;
    }

    &::placeholder {
      color: #6C6D70;
    }

    &:focus {
      border-width: 2px;
      border-color: color(green);
    }

    &.error {
      border-color: red;
    }
  }

  .checkbox-href {
    color: #009247;
  }

  .submit__two {
    margin-top: 50px;
    border: none;
    cursor: pointer;
  }

   // Стили соцсетей
   &__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 95 !important;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;

    path {
      fill: green;
    }

    &:hover {
      path {
        fill: #1BC47D;
      }
    }
  }

  .ok__ru {
    svg {
      width: 26px !important;
      height: 26px !important;
      position: absolute;
      left: 3px;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    margin: 9px 0 0 5px;
    border-radius: 50%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    color: green;
    transition: .3s all;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
    
    path {
      fill: green;
      width: 30px;

      &:hover {
        fill: #1BC47D;
      }
    }
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
}