.information {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 100px auto 80px;
  }
  
  &__nav {
    margin: 0 auto 100px;
    max-width: 400px;

    @media (max-width: 650px) {
      margin-bottom: 60px;
    }
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 12px;
  }

  &__contacts-subtitle {
    margin-bottom: 60px;
    color: #515151;
    text-align: center;
  }

  &__contacts-container {
    display: block;
  }

  &__our__factories-container {
    margin: 120px 0 0 0;
  }

  &__contacts-title {
    font-size: 35px;
    text-align: left;
    font-weight: 500;
    color: color(dark);
    margin-bottom: 50px;

    @media (max-width: 1350px) {
      text-align: center;
    }

    @media (max-width: 490px) {
      font-size: 30px;
    }
  }

  &__contacts-factories {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1350px) {
      justify-content: center;
    }
  }

  &__contacts__factories-item {
    width: 290px;
    background-color: color(white);
    box-shadow: 0 0 5px rgb(184, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    border-bottom: 3px solid transparent;
    margin: 0 5px 30px 5px;
    transition: all 0.3s;

    @media (min-width: 1024px) {
      &:hover {
        box-shadow: 0 0 8px #33953A;
        border-color: #33953A;
      }
    }

    @media (max-width: 1350px) {
      margin: 0 20px 30px 20px;
    }

    @media (max-width: 1111px) {
      margin: 0 8px 30px 8px;
    }

    @include ipadScreen {
      border-color: #33953A;
    }

    @media (max-width: 490px) {
      margin: 0 0 30px 0;
      width: 310px;
    }
  }

  &__contacts__factories-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.025em;
    color: #33953A;
  }

  &__contacts__factories__box {
    margin: 20px 0;
  }

  &__contacts__factories-servces {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 15px;
    
    span {
      color: color(dark);
      font-size: 15px;
    }

    &:nth-child(2) {
      margin: 8px 0;
    }
  }

  &__contacts__factories-servces:last-child {

    span {
      max-width: 152px;
      line-height: 145%;
    }

    b {
      color: #313131;
    }
  }

  &__contacts__button-box {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  &__contacts-button {
    padding-right: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #33953A;
  }

  &__contacts__button-box .fa-arrow-right-long {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #33953A;
    border: 2px solid #33953A;
  }

  &__contacts-pagination {
    display: flex;
    justify-content: center;
    margin: 30px auto 80px;
  }

  &__contacts__pagination-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts__pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(227, 227, 227, 0.568);
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: color(dark);
    font-weight: 600;

    &.active {
      background-color: #33953A;
      color: color(white);
    }
  }


  &__our__factories-title {
    font-size: 35px;text-align: center;
    font-weight: 500;
    color: #212121;
    margin-bottom: 40px;

    @media (max-width: 490px) {
      font-size: 30px;
    }
  }

  &__our__factories-factories {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1350px) {
      justify-content: center;
    }
  }

  &__our__factories__factories-item {
    width: 290px;
    background-color: color(white);
    box-shadow: 0 0 5px rgb(184, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    border-bottom: 3px solid transparent;
    margin: 0 5px 30px 5px;
    transition: all 0.3s;

    @media (min-width: 1024px) {
      &:hover {
        box-shadow: 0 0 8px #33953A;
        border-color: #33953A;
      }
    }

    @media (max-width: 1350px) {
      margin: 0 20px 30px 20px;
    }

    @media (max-width: 1111px) {
      margin: 0 8px 30px 8px;
    }

    @include ipadScreen {
      border-color: #33953A;
    }

    @media (max-width: 490px) {
      margin: 0 0 30px 0;
      width: 310px;
    }
  }

  &__our__factories__factories-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.025em;
    color: #33953A;
  }

  &__our__factories__factories__box {
    margin: 20px 0;
  }

  &__our__factories__factories-servces {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 15px;
    
    span {
      color: color(dark);
      font-size: 15px;
    }

    &:nth-child(2) {
      margin: 8px 0;
    }
  }

  &__our__factories__factories-servces:last-child {

    span {
      max-width: 152px;
      line-height: 145%;
    }

    b {
      color: #313131;
    }
  }

  &__our__factories__button-box {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  &__our__factories__button-box:hover &__our__factories-button {
    color: color(green);
  }

  &__our__factories__button-box:hover .fa-arrow-right-long {
    color: color(green);
    border-color: color(green);
  }

  &__our__factories-button {
    padding-right: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #33953A;
  }

  &__our__factories__button-box .fa-arrow-right-long {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #33953A;
    border: 2px solid #33953A;
    transition: all 0.3s;
  }


   // Стили соцсетей
   &__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 280px;
    left: 95%;
    z-index: 95 !important;

    &::after,
    &:before {
      content: '';
      background-color: #1BC47D;
      position: absolute;
      width: 2px;
      height: 100px;
      right: 50%;
    }

    &::after {
      bottom: -120px;
    }

    &:before {
      top: -110px;
    }

    @include ipadScreen {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;

    path {
      fill: green;
    }

    &:hover {
      path {
        fill: #1BC47D;
      }
    }
  }

  .ok__ru {
    svg {
      width: 26px !important;
      height: 26px !important;
      position: absolute;
      left: 3px;
    }
  }

  // Анимация иконки телефона
  .btn-call {
    margin: 9px 0 0 5px;
    border-radius: 50%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 2s infinite;
  }
  
  .btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease 10s normal none 0 running shake;
    animation-iteration-count: infinite;
    color: green;
    transition: .3s all;

    svg {
      width: 30px !important;
      height: 30px !important;
    }
    
    path {
      fill: green;
      width: 30px;

      &:hover {
        fill: #1BC47D;
      }
    }
  }

  
  @-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(13, 122, 15, 0.41), 0 0 0 0 rgba(18, 156, 52, 0.2), 0 0 0 0 rgba(9, 185, 47, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(34, 177, 15, 0.3), 0 0 0 15px rgba(11, 162, 13, 0.2), 0 0 0 0 rgba(34, 162, 12, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(10, 160, 23, 0.3), 0 0 0 30px rgba(39, 168, 7, 0), 0 0 0 26.7px rgba(30, 159, 13, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(69, 181, 5, 0.3), 0 0 0 30px rgba(122, 253, 56, 0), 0 0 0 40px rgba(45, 204, 24, 0)
    }
  }
  
  @keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(59, 220, 11, 0.3), 0 0 0 0 rgba(108, 253, 56, 0.2), 0 0 0 0 rgba(84, 236, 19, 0.2)
    }
  
    40% {
        box-shadow: 0 8px 10px rgba(63, 223, 27, 0.3), 0 0 0 15px rgba(14, 190, 11, 0.2), 0 0 0 0 rgba(34, 209, 18, 0.2)
    }
  
    80% {
        box-shadow: 0 8px 10px rgba(21, 193, 21, 0.3), 0 0 0 30px rgba(16, 177, 32, 0), 0 0 0 26.7px rgba(28, 197, 16, 0.067)
    }
  
    100% {
        box-shadow: 0 8px 10px rgba(44, 214, 18, 0.3), 0 0 0 30px rgba(50, 173, 12, 0), 0 0 0 40px rgba(28, 214, 59, 0)
    }
  }
  
  /* animations icon */
  @keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
  
  @-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
  
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
  
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
  
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
  
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
  
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
  
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
  
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
  
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
  
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
  }
}


