.leaders {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 130px auto 80px;
  }

  // Навигация Табов
  &__nav {
    margin: 0 auto 40px;
    max-width: 500px;
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);

      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(139, 139, 139, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }


   //Блок сортировки с чек-боксами
   &__map__filter-container {
    position: absolute;
    left: -60px;
    top: 5px;
    z-index: 1;

    @media (max-width:1200px) {
      top: -30px;
      left: 20px;
    }
  }

  &__map__filter-title {
    font-weight: 400;
    color: #9c9c9c;
    font-size: 18px;
  }

  &__map__enterprises-title {
    margin-left: 8px;
    font-size: 14px;
    color: #9c9c9c;
  }

  &__map__branches-title {
    margin-left: 8px;
    font-size: 14px;
    color: #9c9c9c;
  }

  &__map__filter-enterprises {
    --background: #fff;
    --border: #9c9c9c;
    --border-hover: #BBC1E1;
    --border-active: #009247;
    --tick: #fff;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
    transition: all .3s;

    input, svg {
      width: 18px;
      height: 18px;
      display: block;
    }
  }

  &__map__filter-enterprises .check {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 0 !important;
    border: 0 !important;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
    
    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }

    &:checked {
      --b: var(--border-active);
    }
  }

  &__map__filter-enterprises svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: -10px;
    margin: 0 0 0 10px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }

  &__map__filter-enterprises.path .check:checked {
    --s: 1px;
    transition-delay: 0.2s;
  }

  &__map__filter-enterprises.path .check:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }

  &__map__filter-enterprises.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
  }

  &__map__filter-enterprises.bounce {
    --stroke: var(--tick);
  }

  &__map__filter-enterprises.bounce .check:checked {
    --s: 11px;
  }

  &__map__filter-enterprises.bounce svg {
    --scale: 0;
  }

  &__map__filter-enterprises.bounce .check:checked + svg {
    animation: bounce 0.2s linear forwards 0.2s;
  }
  
  .vacancies__label__checbox {
    margin-left: 8px;
    font-size: 16px;
    color: color(dark);
  }

  .leaders__active__container-1,
  .leaders__active__container-2,
  .leaders__active__container-3 {
    display: none;
  }

  .leaders__active__container-1,
  .leaders__active__container-2,
  .leaders__active__container-3 {

    &.active {
      display: block;
    }
  }



  // maps
  &__container-maps {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    @include phoneScreen {
      display: none;
    }
  }

  &__container-tems svg {
    display: block;
    width: 115%;
    height: 100%;
    transition: all 0.2s;
    position: relative;
  }

  
 //Стили и цвета для карты по областям
 .severo__zapadniy-okrug {
  path {
    transition: all 0.3s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.sybirskiy__federalniy-okrug {
  path {
    transition: all 0.3s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.yakutiya {
  path {
    transition: all 0.3s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.dalniy__vostok {
  path {
    transition: all 0.3s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.kurganskaya__oblast {
  path {
    transition: all 0.3s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.saratov {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.ekaterenburg {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.krasnoyarsk {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.OMSK {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.chehov {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.tver {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.volgograd {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.cheboksari {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.ivanovo {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.ug {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.bryansk {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.belgorod {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.novosibirskaya__oblast {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.saratov {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.voronezh {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.ufa {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.perm {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.samara {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.kazan {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.rostov {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.tumen {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.krasnodar {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.nizhegorodskaya {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.nizhniy__novgorod {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.hunti__yalamo {
  path {
    transition: all 0.5s;
    stroke: #229F08;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.belorus {
  path {
    transition: all 0.5s;
    stroke: #e7e7e7;
  }

  &:hover {
    path {
      fill: #50944E;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.uzbekistan {
  path {
    transition: all 0.5s;
    stroke: #e7e7e7;
    fill: rgb(64, 109, 87);
  }

  &:hover {
    path {
      fill: #70c0cc;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
  }
}

.kazahstan {
  path {
    transition: all 0.2s;
    stroke: #e7e7e7;
  }

  &:hover {
    path {
      fill: #297b87;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.40);
    }
    
    rect {
      fill: #297b87;
    }
  }
}


  &__baloon-1,
  &__baloon-2,
  &__baloon-3,
  &__baloon-4,
  &__baloon-5,
  &__baloon-6,
  &__baloon-7,
  &__baloon-8,
  &__baloon-9,
  &__baloon-10,
  &__baloon-11,
  &__baloon-12,
  &__baloon-13,
  &__baloon-14,
  &__baloon-15 {
    position: absolute;
    height: 30px;
    width: 30px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.5);
    }

    img {
      cursor: pointer;
    }

    @include phoneScreen {
      width: 20px;
      height: 20px;
    }
  }

  &__baloon-1 {
    left: 26%;
    top: 25%;
  }

  &__baloon-2 {
    left: 23%;
    top: 32%;
  }

  &__baloon-3 {
    left: 25%;
    top: 44.5%;
  }

  &__baloon-4 {
    left: 29%;
    top: 36%;
  }

  &__baloon-5 {
    left: 58%;
    top: 55%;
  }

  &__baloon-6 {
    left: 15%;
    top: 26%;
  }

  &__baloon-7 {
    left: 11%;
    top: 42%;
  }

  &__baloon-8 {
    left: 40%;
    top: 30%;
  }

  &__baloon-9 {
    left: 42%;
    top: 55%;
  }

  &__baloon-10 {
    left: 31%;
    top: 46%;
  }

  &__baloon-11 {
    left: 52%;
    top: 20%;
  }

  &__baloon-12 {
    left: 41%;
    top: 41%;
  }

  &__baloon-13 {
    left: 83%;
    top: 28%;
  }

  &__baloon-14 {
    left: 69%;
    top: 30%;
  }

  &__baloon-15 {
    left: 54%;
    top: 40%;
  }

  
 //popup-slider
 .vacancies__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(19, 28, 8, 0.8);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  transition: all 0.3s;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.vacancies__popup.open .vacancies__popup-bg {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.vacancies__popup-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 100% !important;
  height: 100vh;
  padding: 30px 30px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  background: transparent;
  overflow: hidden;

  @include phoneScreen {
    width: 90%;
  }
}

.vacancies__close-popup {
  position: absolute;
  right: 5% !important;
  top: 5% !important;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  z-index: 99;
}

  //Swiper-popup
  .vacancies__slider {
    max-width: 1280px;
    margin: 0 auto;
  }

  .swiper-container {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 4% 12% 4% 12%;

    @include phoneScreen {
      padding: 18% 9% 8% 9%;
    }
  }

  .vacancies__slider-slide {
    width: 100%;
    overflow: hidden;
  }

  .vacancies__slider-img {
    margin: 0 auto;
    max-width: 800px;
    max-height: 70vh;
    height: auto;
    border-radius: 20px;
    overflow: hidden;

    @include phoneScreen {
      border-radius: 10px;
    }

    img {
      object-fit: revert;
    }
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    font-size: 12px;
    background-color: color(white);

    @include phoneScreen {
      font-size: 12px;
      height: 12px;
      width: 12px;
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next::after {
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: absolute;
  }

  @include phoneScreen {

    .swiper-button-prev:after,
    .swiper-button-next::after {
      display: none;
    }
  }


  &__popup-text {
    font-size: 15px;
    font-weight: 300;
    color: #212121;
    padding: 0 10px 10px;
  }


  &__leaders-container {
    display: block;
  }

  &__leaders-title {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
  }


  &__leaders__info-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: color(white);
    text-align: center;
  }


  //popup-top
  .leaders__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(19, 28, 8, 0.8);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.3s;

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  .leaders__popup.open .leaders__popup-body {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .leaders__popup-body {
    position: absolute;
    top: 63%;
    left: 50%;
    right: 0;
    width: 100% !important;
    height: 100vh;
    padding: 30px 30px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    background: transparent;
    overflow: hidden;

    @include phoneScreen {
      width: 90%;
    }
  }
  
  .leaders__popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  .leaders__popup-title {
    color: color(green);
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
  }

  .leaders__popup-close {
    color: grey;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    z-index: 99;
  }

  .leaders__popup-content {
    width: 700px;
    height: 500px;
    background-color: #fff;
    z-index: 99;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
  }

  .leaders__popup__info-box {
    li {
      position: relative;
      overflow: hidden;
    }
  }

  .leaders__button-href {
    display: flex;
    justify-content: end;
    color: color(white); 
    padding-right: 12px;

    &:hover {
      svg {
        margin-left: 12px;
      }
    }

    svg {
      margin-left: 12px;
      width: 22px;
      height: 22px;
      transition: all 0.3s;

      path {
        fill: #fff;
      }
    }
  }


  /* Выезжающий блок с текстом для панели слева направо */
  &__popup__info-box li >  &__effect-to-right {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    padding: 60px 50px 20px 50px; 
  }

  &__popup__info-box li:hover > &__effect-to-right {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  &__popup__info-box li &__effect-to-right {
    opacity: 0;
    background: linear-gradient(227.96deg, rgba(80, 83, 73, 0.86) -21.84%, #232b1c 103.24%); /* Фон блока при наведении */
    transition: all 0.5s;
    color: color(white);
    transform: translate(-250px, 0px) rotate(0deg); /* Направление выезжающей панели */
  }

  &__popup__info-box li:hover &__effect-to-right {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
  }

  .leaders__name {
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 500;
  }

  .leaders__adress-1 {
    margin-bottom: 8px;
  }

  .leaders__adress-title {
    margin-bottom: 8px;
  }

  .leaders__adress {
    margin-bottom: 8px;
  }

  .last__adress {
    margin-bottom: 150px;
  }


  //Стили для таба
  &-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__tabs-list {
    width: 32%;

    @media (max-width: 700px) {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  &__tabs-link {
    background-color: #fff;
    border: 1.5px solid green;
    color: green;
    font-weight: 400;
    width: 100%;

    &:hover {
      background-color: rgb(236, 236, 236);
      border: 1.5px solid rgb(236, 236, 236);
      color: #212121 !important;
    }

    &.active {
      background-color: green;
      color: color(white);
      border-color: color(green);

      &:hover {
        color: color(white) !important;
      }
    }
  }

  //leaders-tabs-gallery
  &__tabs-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 0 0 8px 0;
    margin-bottom: 80px;

    @include phoneScreen {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    a {
      margin-bottom: 25px;
    }
  }

  &__hover-subtitle {
    text-align: center;
    color: color(green);
    font-weight: 500;
    font-size: 18px;
  }

  &__hover-effect-scale {
    overflow: hidden;
    margin-bottom: 12px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: all 0.3s;
    }
  }

  .hide {
    display: none;
  }
}